BODY {
    background-color: darkgray;
    text-align: center;
}

#tetrisCanvas {
    border: 5px solid white;

}

#serverError {
    display: none;
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 72px;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
}

#logIn {
    display: none;
    position: absolute;
    z-index: 2;
    color: white;
    background-color: black;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
}

#logIn > div {
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 100px;
    text-align: center;
}